{% extends "base.html" %}

{% block title %}Search Paper{%  endblock %}

{%  block content %}
    <h1>Paper</h1>
    {% for paper in paper_list %}
        <h2>
            <a href="{{ paper.get_absolute_url }}">
               {{ paper.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ paper.publish }} by {{ paper.author }}
        </p>
        {{ paper.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=paper_list %}
{% endblock %}